<?xml version="1.0"?>

<model>
  <name>Gate D2</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>m</name>
    <email>m@email.com</email>
  </author>

  <maintainer email="email@email.com">email </maintainer>

  <description>
  Gate D2
  </description>
</model>
