<?xml version="1.0"?>

<model>
  <name>T265</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>m</name>
    <email>m@email.com</email>
  </author>

  <maintainer email="email@email.com">email </maintainer>

  <description>
  T265 model
  </description>
</model>
